<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension id="application"
    point="org.eclipse.core.runtime.applications">
    <application cardinality="singleton-global"
      thread="main" visible="true">
      <run class="elayne.application.Application"></run>
    </application>
  </extension>
  <extension point="org.eclipse.ui.perspectives">
    <perspective class="elayne.perspective.Perspective"
      fixed="false" icon="icons/add.png"
      id="Elayne.perspective" name="Elayne Perspective">
      <description>
        Main Perspective of the Elayne Runtime Enviroment.
      </description>
    </perspective>
  </extension>
  <extension point="org.eclipse.ui.views">
    <category id="PlayerRelated" name="Player Related">
    </category>
    <category id="DebugRelated" name="Debug Related">
    </category>
    <view category="PlayerRelated"
      class="elayne.views.BannedPlayersView"
      icon="icons/delete.png" id="Elayne.views.banned"
      name="Banned Players">
    </view>
    <view allowMultiple="false" category="PlayerRelated"
      class="elayne.views.OnlinePlayersView"
      icon="icons/accept.png"
      id="elayne.views.OnlinePlayers"
      name="Online Players">
    </view>
    <view allowMultiple="true" category="PlayerRelated"
      class="elayne.views.PlayerInfoView"
      icon="icons/chart_bar.png"
      id="elayne.views.playerInfo" name="Player Info">
    </view>
    <view allowMultiple="false" category="PlayerRelated"
      class="elayne.views.SearchView" icon="icons/zoom.png"
      id="elayne.views.search" name="Search">
    </view>
    <view allowMultiple="true" category="PlayerRelated"
      class="elayne.views.ClanInfoView"
      icon="icons/etc_bloodpledge_point_i00.jpg"
      id="elayne.views.clanView" name="Clan Info">
    </view>
  </extension>
  <extension id="product"
    point="org.eclipse.core.runtime.products">
    <product application="Elayne.application"
      name="Elayne">
      <property name="appName" value="Elayne"></property>
      <property name="startupForegroundColor"
        value="000000">
      </property>
      <property name="startupMessageRect"
        value="7,252,445,20">
      </property>
      <property name="startupProgressRect"
        value="5,275,445,15">
      </property>
      <property name="preferenceCustomization"
        value="plugin_customization.ini">
      </property>
      <property name="aboutImage" value="icons/Smale.gif">
      </property>
      <property
            name="aboutText"
            value="Elayne L2Dragonlance Information Tool.&#x0A;&#x0A;Version: 2.0.0&#x0A;&#x0A;Rework for L2jFree by L2jfree&#x0A;Visit: http://www.l2jfree.com&#x0A;&#x0A;&#x0A;(c) Copyright: L2Dragonlance, polbat02, Eclipse.org and others. 2007-2008. All rights reserved.&#x0A;Visit: http://l2dragonlance.org">
      </property>
      <property name="windowImages"
        value="icons/alt16.gif,icons/alt32.gif">
      </property>
    </product>
  </extension>
  <extension point="org.eclipse.ui.preferencePages">
    <page class="elayne.preferences.GeneralPreferencePage"
      id="elayne.preferences.GeneralPreferencePage"
      name="General Preferences">
    </page>
    <page class="elayne.preferences.LoginPreferencePage"
      id="elayne.preferences.LoginPreferencePage"
      name="Login Preferences">
    </page>
  </extension>
  <extension point="org.eclipse.core.runtime.preferences">
    <initializer
      class="elayne.preferences.PreferenceInitializer">
    </initializer>
  </extension>
  <extension point="org.eclipse.ui.intro">
    <intro
      class="org.eclipse.ui.intro.config.CustomizableIntroPart"
      icon="icons/intro.gif" id="Elayne.intro"
      label="Welcome To Elayne">
    </intro>
    <introProductBinding introId="Elayne.intro"
      productId="Elayne.product">
    </introProductBinding>
  </extension>
  <extension point="org.eclipse.ui.intro.config">
    <config introId="Elayne.intro"
      content="introContent.xml" id="Elayne.config">
      <presentation home-page-id="root">
        <implementation kind="html"
          os="win32,linux,macosx">
        </implementation>
      </presentation>
    </config>
  </extension>
</plugin>
