<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>jdbc:mysql://localhost/l2jdb</value>
		</property>
		<property name="user">
			<value>root</value>
		</property>
		<property name="password">
			<value></value>
		</property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="hibernateProperties">
			<props>
			   <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			   <prop key="hibernate.show_sql">true</prop>
			   <prop key="hibernate.c3p0.min_size">1</prop>
			   <prop key="hibernate.c3p0.max_size">20</prop>
			   <prop key="hibernate.c3p0.timeout">0</prop>
			   <prop key="hibernate.c3p0.max_statement">100</prop>
			   <prop key="hibernate.c3p0.idle_test_period">60</prop>
		       <prop key="hibernate.c3p0.acquire_increment">5</prop>
		       <prop key="hibernate.c3p0.autocommit">false</prop>			   			   			   
			   <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
			</props>
		</property>
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/net/sf/l2j/loginserver/beans/</value>
			</list>
		</property>
	</bean>
       <bean id="AccountsDAO" class="net.sf.l2j.loginserver.dao.impl.AccountsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="AccountDataDAO" class="net.sf.l2j.loginserver.dao.impl.AccountDataDAOHib">		
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="ClanhallDAO" class="net.sf.l2j.loginserver.dao.impl.ClanhallDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="CharacterSubclassesDAO" class="net.sf.l2j.loginserver.dao.impl.CharacterSubclassesDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="CharacterSkillsDAO" class="net.sf.l2j.loginserver.dao.impl.CharacterSkillsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="CharacterSkillsSaveDAO" class="net.sf.l2j.loginserver.dao.impl.CharacterSkillsSaveDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="ClanSubpledgesDAO" class="net.sf.l2j.loginserver.dao.impl.ClanSubpledgesDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="CharactersDAO" class="net.sf.l2j.loginserver.dao.impl.CharactersDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="ClanDataDAO" class="net.sf.l2j.loginserver.dao.impl.ClanDataDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="ClanSkillsDAO" class="net.sf.l2j.loginserver.dao.impl.ClanSkillsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="CharacterFriendsDAO" class="net.sf.l2j.loginserver.dao.impl.CharacterFriendsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="CharacterMacrosesDAO" class="net.sf.l2j.loginserver.dao.impl.CharacterMacrosesDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="CharacterShortcutsDAO" class="net.sf.l2j.loginserver.dao.impl.CharacterShortcutsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="ClanWarsDAO" class="net.sf.l2j.loginserver.dao.impl.ClanWarsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="BoxaccessDAO" class="net.sf.l2j.loginserver.dao.impl.BoxaccessDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="MerchantLeaseDAO" class="net.sf.l2j.loginserver.dao.impl.MerchantLeaseDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="CharacterHennasDAO" class="net.sf.l2j.loginserver.dao.impl.CharacterHennasDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="ClanhallFunctionsDAO" class="net.sf.l2j.loginserver.dao.impl.ClanhallFunctionsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="ClanPrivsDAO" class="net.sf.l2j.loginserver.dao.impl.ClanPrivsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="ItemsDAO" class="net.sf.l2j.loginserver.dao.impl.ItemsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="CharacterQuestsDAO" class="net.sf.l2j.loginserver.dao.impl.CharacterQuestsDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> 
        <bean id="CharacterRecipebookDAO" class="net.sf.l2j.loginserver.dao.impl.CharacterRecipebookDAOHib">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
        <bean id="AccountsServices" class="net.sf.l2j.loginserver.services.AccountsServices">
		<property name="accountsDAO">
			<ref bean="AccountsDAO" />
		</property>
	</bean>
</beans>
